/* General */
/*  */

body {
    margin: 0;
    background-color: rgb(230, 230, 230);
    font-family: 'Kumbha Sans', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

h3 {
    font-weight: 300;
}

/* Navbar */
/*  */

.navbar {
    margin: 2% 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 75px;
    width: 75px;
}

.clock p {
    color: #0be881;
    font-size: 2rem;
}

/* Header */
/*  */

.greeting {
    background-color: #0be881;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting h1 {
    font-weight: 300;
    color: rgb(230, 230, 230);
}

/* Speed Dial */
/*  */

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.speeddial {
    position: relative;
    margin: 5% 1%;
    height: 175px;
    width: 350px;
    background-color: #808e9b;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.speeddialspan {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}